p {
    margin: 0;
    padding: 0;
}

#container {
    width: 500px;
    margin: auto;
    border: 0px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: lightgray;
    align-items: stretch;
    padding: 12px;
    gap: 12px;
}

.payment-method {
    border: 1px solid transparent;
    background: white;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    padding: 8px 16px 8px 16px;
    gap: 12px;
}

.payment-method:hover {
    /* border: 1px solid blue; */
    background: #F0F0F0;
    cursor: pointer;
}

.payment-method:active {
    background: black;
}

.card-logo {
    width: 40px;
    height: 40px;
    border: 1px solid #EEE;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-name-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.payment-description-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #CCC;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}